
.item-img {
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  color: #1E2639;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: #1E2639;
  font-weight: 600;
  font-size: 20px;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
}

.stock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
