.item-list-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.item-list-container h1 {
    padding: 10px;
    justify-content: left;
}

.item-list-container h2 {
    padding: 10px;
    justify-content: left;
}

