.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  border-radius: 10px;
  overflow: hidden;
  color: #1E2639;
  margin: 15px;
  padding: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.product-img {
  max-height: 180px;  
  object-fit: contain;
  padding: 10px;
}

.btn { 
    background: #0A82FA; 
    color: white; 
    padding: 10px 16px; 
    border-radius: 10px; 
    text-decoration: none; 
    display: block;
    margin: 0 auto; 
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-weight: 500;
    color: #1E2639;
}
