/* ===== NAVBAR PRINCIPAL ===== */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E2639;
  padding: 10px 20px;
}

/* Logo */
.brand-logo {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

/* Links principales */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links .nav-link,
.nav-links .texto-menu {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links .nav-link:hover,
.nav-links .texto-menu:hover {
  color: #0a82fa; 
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1E2639;
  border: none;
  border-radius: 6px;
  min-width: 200px;
  z-index: 1050;
  padding: 10px 0;
}

/* Mostrar al hacer hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Items del dropdown */
.dropdown-item {
  display: block;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif ;
}

.dropdown-item:hover {
  background-color: #A28D7B;
  color: white;
}
